name: Run Market Breadth Project

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 09 * * 1-5'

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Set Timezone to IST
        run: |
          sudo timedatectl set-timezone Asia/Kolkata
          echo "Current Timezone: $(date)"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run Market Breadth Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          rm Report/latest
          report_file="Report/market_breadth_`date +'%Y-%m-%d_%H:%M'`.txt"
          python fetch_breadth_data.py --history-days 8 >$report_file
          # Send Telegram message
          python3 send_telegram.py continuity_screener_multi_interval_* || echo "Telegram Notification Failed, Continuing..."
          python3 send_telegram.py $report_file || echo "Telegram Notification Failed, Continuing..."
          python3 send_telegram.py continuity_screener_hourly_* || echo "Telegram Notification Failed, Continuing..."
          if test -f continuity_macd_data_*; then
              python3 send_telegram.py continuity_macd_data_* --file-mode || echo "Telegram Notification Failed, Continuing..."
          fi
          cp $report_file Report/latest
          cat continuity_screener_hourly_* >> Report/latest


      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add Report
          # Add MB analysis
          git add market_breadth/analysis.txt market_breadth/consolidated_market_breadth.csv
          git add market_breadth/index_value.txt
          git commit -m "Auto-generated report at `date +'%Y-%m-%d_%H:%M'`" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git
